@media screen and (max-width: 1000px){

  *{
    box-sizing: border-box;
  }

  .navigation-bar{
      display: none;
  }

  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .text-content{
    left: 0;
    margin-top: 0px;
    width: inherit;
  }

  .bigger-text{
    font-size: 18px;
    font-weight: 600;
  }

  .welcome{
    font-size: 14px;
    margin-top: -5px;
    letter-spacing: 0.5px;
  }

  .break{
    display: none;
  }

  .button-container {
    margin-top: -12px;
  }

  .app-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100px;
  height: 30px;
  background: transparent;
  color: white;
  overflow: hidden;
  cursor: pointer;
  font-size: 10px;
  border-radius: 3px;
  z-index: 0;

    border: 1px solid white;
   
    cursor: pointer;
    transition: 0.4s;
    font-weight: 400;
}

.profile{
  margin-top: 22px;
}

.art{
    font-size: 19px;
}

.auction{
    font-size: 19px;
}

.artist{
    font-size: 19px;
}


  .image-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
  }

  
  .nft-cont1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    box-shadow: 0 15px 20px white;
    animation: tilt-left-to-right 4s ease-in-out infinite;
    flex: 1;
  }

  @keyframes tilt-left-to-right {
    0%   { transform: rotate(-10deg); transform-origin: bottom left; }
    50%  { transform: rotate(10deg); transform-origin: bottom right; }
    100% { transform: rotate(-10deg); transform-origin: bottom left; }
  }

  .nft-cont1 img{
    position: relative;
  }

  .nft-owner1{
    position: absolute;
    bottom: 15px;
    width: inherit;
    border-radius: 20px;
    padding: 3.4px 4px 1px 4px;
    margin-left: 0px;
  }


  .nft-cont2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 0px;
    flex: 0.5;
    animation: tilt-right-to-left 4s ease-in-out infinite;
  }
  


  @keyframes tilt-right-to-left {
    0%   { transform: rotate(7deg); transform-origin: bottom right; }
    50%  { transform: rotate(-7deg); transform-origin: bottom left; }
    100% { transform: rotate(7deg); transform-origin: bottom right; }
  }

  .nft-owner2{
    position: absolute;
    bottom: 15px;
    padding:  7px 20px 5px 7px;
    margin-left: 0px;
  }

  .nft-cont3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 0px;
    animation: tilt-left-to-right 4s ease-in-out infinite;
    flex: 1;
  }

  .nft-owner3{
    position: absolute;
    bottom: 15px;
    padding: 3.4px 15px 1px 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;

  }





}